.address {
  margin-bottom: 5px;
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 25px;
}

.address--grey {
  background: @grey-color;
}

.address__wrapper b {
  width: 50%;

  .setFont(16px; 20px;);
  text-transform: uppercase;
}

.address__wrapper p {
  .zero;
  width: 50%;

  font-size: 14px;
  line-height: 20px;
  color: @text-color;
  font-family: "Arial", sans-serif;
}

.address__map {
  position: relative;

  width: 320px;
  height: 362px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -5px;

  overflow: hidden;
  z-index: 1;
}

.address__map-img {
  position: absolute;
  top: -38px;
  left: 0;
}

.address__mark-img {
  position: absolute;
  top: 140px;
  left: 125px;
}

@media (min-width: 768px) {
  .address__wrapper {
    padding: 64px 42px 55px 41px;
  }

  .address__wrapper b {
    width: 155px;

    .setFont(size; 20px; 25px;);
  }

  .address__wrapper p {
    width: 155px;

    .setFont(size; 16px; 20px;);
    text-align: right;
  }

  .address__city {
    display: block;
    margin-top: 20px;
  }

  .address__map {
    width: 768px;
    height: 396px;
  }

  .address__map-img {
    width: 768px;
  }

  .address__mark-img {
    top: 110px;
    left: 330px;

    width: 124px;
    height: 106px;
  }
}

@media (min-width: 1300px) {
  .address {
    position: relative;
  }

  .address__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;
    height: 201px;

    background: #ffffff;

    z-index: 2;
  }

  .address__map {
    width: 1440px;
  }

  .address__map-img {
    width: 1440px;
  }

  .address__mark-img {
    top: 110px;
    left: 1000px;
  }
}
